
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}

<a href="https://gitlab.com/groups/Fitznet"><img src="https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png" height="64" width="64"></img></a>

{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
